/*---------------------------------Navigations bar---------------------------------*/

#GlobalHeader {
  grid-area: Header;
  display: flex;
  background-color: rgb(155, 11, 11);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.GnavPicBoxText {
  position: relative;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  text-shadow: 2px 1px 3px black;
}

/*------------------ Lnav Section -------------------*/

/*--------- Lnav ----------*/

/*--------------------------------- 1440px Screen ---------------------------------*/

@media (max-width: 1441px) {

  nav li button,
  nav li a,
  #contact {
    font-size: 1.18rem;
  }

  .GnavPicBoxText {
    font-size: 1.3125rem;
  }

  .dropdown-list {
    gap: 3rem;

    li {
      margin: 1rem 0 1rem 0;
    }
  }

  .weather-content.active {
    transform: translateY(-283px);
  }

  .weather-day {
    width: 85px;
    margin: 1rem auto;
  }

  .weather-day img {
    width: 55px;
    height: 55px;
  }

  .scroll-btn {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
  }
}


/*--------------------------------- 1024px Screen ---------------------------------*/


@media (max-width: 1025px) {

  nav li button,
  nav li a,
  #contact {
    font-size: 1.1rem;
  }

  .GnavPicBoxText {
    font-size: 0.933rem;
  }

  .dropdown-list {
    gap: 2.5rem;

    li {
      margin: 1rem 0 1rem 0;
    }
  }

  .weather-content.active {
    transform: translateY(-265px);
  }

  .weather-day {
    width: 70px;
    margin: 1rem auto;
  }

  .weather-day img {
    width: 40px;
    height: 40px;
  }

  .scroll-btn {
    width: 35px;
    height: 35px;
    font-size: 1.1rem;
  }
}