/*style*/

* {
  margin: 0;
  padding: 0;
  word-spacing: 3px;
  box-sizing: border-box;
}

/*--------------------------------- Index ---------------------------------*/

body {
  background-color: #ffffff;
  font-family: "segoe UI", sans-serif, Verdana, "Geneva";
  display: grid;
  font-size: 1.125rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto min-content;
  grid-template-areas:
    " Bild "
    " Main "
    "Footer ";
}

/*--------------------------------- Headlines ---------------------------------*/

h1 {
  font-size: 2.75rem;
  margin-top: 0;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2.05rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 1.7rem;
  margin: 0;
}

h4 {
  margin: 0;
}

/*--------------------------------- Href ---------------------------------*/

a {
  color: white;
  text-decoration: none;
}

/*--------------------------------- Sections ---------------------------------*/

.SectionStyle {
  width: 100%;
  font-weight: 100;
}

.introductionText {
  left: 0;
  max-width: 60%;
  line-height: 1.5;
}

#MainPageSection {
  grid-area: Main;
  z-index: 5;

  #RestaurantTypeSection {
    margin: 5px 0px;
    display: flex;
    justify-content: center;

    #RestaurantTypes {
      display: flex;
      color: #141414;
      justify-content: center;
      border-radius: 5px;
      width: 90vw;
      gap: 20px;

      .RestaurantTypeBox {
        position: relative;
        width: 100%;
        color: #141414;
        height: 120px;

        img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.8s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.2)
          }
        }
      }
    }

  }

  #SortingSection {
    margin: 15px 80px;
    display: flex;
    justify-content: center;
    padding: 20px 0 30px 0;
    border-bottom: solid 1px gray;

    .SortingOptions {
      display: flex;
      width: 90vw;
      gap: 3px;
    }

    .Sort-btn {
      width: 10%;
      padding: 0.7rem;
      margin: 10px;
      font-size: 1.25rem;
      color: #ffffff;
      border: none;
      background-color: #DC143C;
      border-radius: 15px;
      text-align: center;
      cursor: pointer;
      transition: all 0.4s ease;
    }

    .Sort-btn.active {
      background-color: #910b25;
    }

    .Sort-btn:hover {
      background-color: #910b25;
      box-shadow: 0 4px 10px rgba(220, 20, 60, 0.4);
    }
  }
}

.DarkSection {
  position: relative;
  background-color: #141414;
  color: #ffffff;
  padding: 2% 9.5% 5% 9.5%;
}

.DarkSectionHalf {
  position: relative;
  background: linear-gradient(to bottom, #ffffff 50%, #141414 50%);
  color: #ffffff;
  padding: 2% 9.5% 5% 9.5%;
}

.LightSection {
  position: relative;
  background-color: #ffffff;
  color: #141414;
  padding: 2% 3.5% 5% 3.5%;
}

.LightSectionHalf {
  position: relative;
  background: linear-gradient(to bottom, #141414 50%, #ffffff 50%);
  color: #141414;
  padding: 2% 9.5% 5% 9.5%;
}

.DarkBackground {
  position: absolute;
  inset: 0;
  background-color: #202020;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 50%);
  z-index: 0;
}

.DarkHalfBackground {
  position: absolute;
  inset: 0;
  background-color: #202020;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 50%);
  z-index: 0;
}

.LightBackground {
  position: absolute;
  inset: 0;
  background-color: antiquewhite;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 50%);
  z-index: 0;
}

.LightHalfBackground {
  position: absolute;
  inset: 0;
  background-color: antiquewhite;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%);
  z-index: 0;
}

/*------------------ Picture Section -------------------*/

.RestaruantPictureSection {
  position: relative;
  left: 0;

  .Cuisine-Header {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.PictureRow {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 10px;
  overflow-x: auto;

  .PicWrapper {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    width: min-content;
    flex-direction: column;

    .RestaurantPicDescription {
      padding: 10px;
      border-top: solid 1px black;

      .info {
        padding: 5px 0;

        .RestaurantName {
          font-size: 1.3rem;
          font-weight: bold;
        }

        .RestaurantType {
          font-style: italic;
          font-size: 1rem;
        }

        .RestaurantPrice {
          font-style: italic;
        }
      }

      .RatingBox {

        .Rating {}

        .AmountOfRating {}

      }
    }
  }
}

.Light-Header-Text {
  display: flex;
  flex-direction: column;
  color: white;
}

/*--------------------------------- General Picture Rules ---------------------------------*/

.MainImageWrapper {
  position: relative;
  grid-area: Bild;
  overflow: hidden;

  #MainImage {
    grid-area: Bild;
    width: 100%;
    opacity: 1;
    transition: transform 4s ease-in-out;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }

  #MainImageText {
    color: #FFF8DC;
    z-index: 100;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      color: inherit;
      font-family: 'Georgia', 'Garamond', serif;
      font-style: italic;
      font-size: 6rem;
      text-shadow:
        0 0 8px rgba(0, 0, 0, 0.5),
        2px 2px 6px rgba(0, 0, 0, 0.6);
      width: max-content;
      z-index: 100;
    }

    p {
      color: inherit;
      font-size: 1.5rem;
      font-style: italic;
      text-align: center;
      text-shadow:
        0 0 8px rgba(0, 0, 0, 0.5),
        2px 2px 6px rgba(0, 0, 0, 0.6);
      margin: 20px auto;
      width: 80%;
      z-index: 100;
    }

  }
}

.MainPagePicRowBox {
  position: relative;
  overflow: hidden;
  height: 360px;
  width: 400px;
  flex: 0 0 auto;
}

.MainPagePicRowBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  transition: transform 1s ease;
  z-index: 0;
}

/*--------------------------------- Footer ---------------------------------*/

footer {
  grid-area: Footer;
  background-color: #333;
  padding: 20px 0;
  color: white;
  font-size: 0.875rem;

  .footer-container {
    display: flex;
    max-width: 1200px;
    min-height: 100px;
    margin: auto;
  }

  .footer-section {
    margin: auto;
  }

}


/*--------------------------------- 1440px Screen ---------------------------------*/

@media (max-width: 1441px) {
  body {
    font-size: 1.06rem;
  }

  h1 {
    font-size: 2.585rem;
  }

  h2 {
    font-size: 1.76rem;
  }

  h3 {
    font-size: 1.41rem;
    margin: 0;
  }

  .size {
    font-size: 1.18rem;
    margin: 2.35rem auto;
    line-height: 1.5;
  }

  .introductionText {
    font-size: 1rem;
    max-width: 70%;
  }

  .MainPagePicRowBox {
    width: 263px;
    height: 270px;
  }

}

/*--------------------------------- 1024px Screen ---------------------------------*/

@media (max-width: 1025px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.45rem;
  }

  h2 {
    font-size: 1.67rem;
  }

  h3 {
    font-size: 1.335rem;
    margin: 0;
  }

  .size {
    font-size: 1.1rem;
    margin: 2.225rem auto;
    line-height: 1.5;
  }

  .introductionText {
    font-size: 0.875rem;
    max-width: 80%;
  }

  .MainPagePicRowBox {
    width: 187px;
    height: 192px;
  }
}