<link rel="preload" as="image" href="./img/Main/Main5.jpg">
<div class="MainImageWrapper">
  <img src="./img/Main/Main5.jpg" alt="Kyoto" id="MainImage" class="rotation">
  <div id="MainImageText">
    <h2>Restaurant World</h2>
    <p>Welcome to Restaurant World! The place where you can explore the culinary delights in Kalmar!</p>
    <div class="search-container">
      <input type="text" placeholder="Search for restaurants..." class="search-input">
    </div>
  </div>
</div>

<section id="MainPageSection" class="SectionStyle">

    <section id="RestaurantTypeSection">
      <h2 id="TypesHeader">Types of Kitchens:</h2>
      <div id="RestaurantTypes">
        <div class="RestaurantTypeBox"><img src="./img/emblems/Svensk.png" alt=""><p class="emblem-text">Swedish</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Italiensk.png" alt=""><p class="emblem-text">Italian</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Thai.png" alt=""><p class="emblem-text">Thai</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Turkisk.png" alt=""><p class="emblem-text">Turkish</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Japansk.png" alt=""><p class="emblem-text">Japanese</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Indisk.png" alt=""><p class="emblem-text">Indian</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Amerikansk.png" alt=""><p class="emblem-text">American</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Kinesisk.png" alt=""><p class="emblem-text">Chinese</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Grekisk.png" alt=""><p class="emblem-text">Greek</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Mexikansk.png" alt=""><p class="emblem-text">Mexican</p></div>
        <div class="RestaurantTypeBox"><img src="./img/emblems/Vietnamesisk.png" alt=""><p class="emblem-text">Vietnamese</p></div>
      </div>
    </section>
    <section id="SortingSection">
      <div class="SortingOptions">
        <button class="Sort-btn" data-pref="Top-Rated">Top Rated</button>
        <button class="Sort-btn" data-pref="Highest-Price">Highest Price</button>
        <button class="Sort-btn" data-pref="Lowest-Price">Lowest Price</button>
      </div>
    </section>

  <section class="LightSection">
    <div class="LightBackground"></div>
    <div class="RestaurantPictureSection">
      <div class="Cuisine-Header">
        <h2>Italian</h2>
        <p class="Cuisine-Text"></p>
      </div>
      <div class="PictureRow">
        <div class="PicWrapper">
          <a href="#" id="Test" class="RestaurantPicBox"></a>
          <div class="RestaurantPicDescription">
            <div class="info">
              <span class="RestaurantName">Trattorian</span>
              <span class="RestaurantType">Italian</span>
              <span class="RestaurantPrice">$$$</span>
            </div>
            <div class="RatingBox">
              <span class="Rating">5⭐</span>
              <span class="AmountOfRating">(34)</span>
            </div>
          </div>
        </div>
        <div class="PicWrapper">
          <a href="#" id="Test" class="RestaurantPicBox"></a>
          <div class="RestaurantPicDescription">
            <div class="info">
              <span class="RestaurantName">Trattorian</span>
              <span class="RestaurantType">Italian</span>
              <span class="RestaurantPrice">$$$</span>
            </div>
            <div class="RatingBox">
              <span class="Rating">5⭐</span>
              <span class="AmountOfRating">(34)</span>
            </div>
          </div>
        </div>
        <div class="PicWrapper">
          <a href="#" id="Test" class="RestaurantPicBox"></a>
          <div class="RestaurantPicDescription">
            <div class="info">
              <span class="RestaurantName">Trattorian</span>
              <span class="RestaurantType">Italian</span>
              <span class="RestaurantPrice">$$$</span>
            </div>
            <div class="RatingBox">
              <span class="Rating">5⭐</span>
              <span class="AmountOfRating">(34)</span>
            </div>
          </div>
        </div>
        <div class="PicWrapper">
          <a href="#" id="Test" class="RestaurantPicBox"></a>
          <div class="RestaurantPicDescription">
            <div class="info">
              <span class="RestaurantName">Trattorian</span>
              <span class="RestaurantType">Italian</span>
              <span class="RestaurantPrice">$$$</span>
            </div>
            <div class="RatingBox">
              <span class="Rating">5⭐</span>
              <span class="AmountOfRating">(34)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>