<link rel="stylesheet" href="./css/MainPage.css">
<script type="module" src="./js/MainPage.js"></script>
<link rel="preload" as="image" href="./img/Main/KansaiMain.jpg">
<%- include('../Navigation/GlobalNav') %>
  <img src="./img/Main/KansaiMain.jpg" alt="Kyoto" id="bild" class="rotation">


  <section id="LocalNavSection">
    <div>Hej</div>
  </section>
  <section id="MainPageSection" class="SectionStyle">
    <div class="DarkSection">
      <h1>Kansai, where old meets new!</h1>
      <p class="introductionText">The Kansai region, rich in both history and innovation, offers a unique blend of Japan's ancient traditions and bustling modernity. Home to historic cities like Kyoto and Nara alongside vibrant urban centers like Osaka and Kobe, Kansai has something for every traveler—from serene temples and shrines to lively nightlife and culinary adventures. This region invites you to experience Japan's past and present in one unforgettable journey.</p>
    </div>
    <section class="DarkSection">
      <div class="PictureSection">
        <div class="PictureSectionHeader">
          <div class="Header-Text">
            <h2 id="TopDestinations">Top Destinations in Kansai</h2>
            <span class="introductionText">Whether you're drawn to vibrant cities, ancient temples, or stunning coastal views, Kansai has it all. Here are three of the region's most iconic and unforgettable destinations</span>
          </div>
        </div>
        <div class="PictureRow">
          <div class="PicWrapper">
            <a href="#" id="OsakaCastle1" class="PicRowBox2"></a>
            <div class="PicRowPicBoxText">
              <h4>Osaka City</h4>
              <div class="PicRowPicBoxTextInfo">
                <p>A dynamic metropolis known for its street food, nightlife, and landmarks like Osaka Castle and Dotonbori. A true gateway to modern Kansai</p>
              </div>
            </div>
          </div>
          <div class="PicWrapper">
            <a href="#" id="KyotoOldTown1" class="PicRowBox"></a>
            <div class="PicRowPicBoxText">
              <h4>Kyoto City</h4>
              <div class="PicRowPicBoxTextInfo">
                <p>Japan's cultural heart, filled with centuries-old temples, tea houses, geisha districts, and breathtaking seasonal beauty</p>
              </div>
            </div>
          </div>
          <div class="PicWrapper">
            <a href="#" id="Kobe" class="PicRowBox"></a>
            <div class="PicRowPicBoxText">
              <h4>Kobe</h4>
              <div class="PicRowPicBoxTextInfo">
                <p>A stylish port city nestled between mountains and sea, famous for Kobe beef, hot springs, and panoramic night views from Mt. Rokko</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="LightSection">
      <div class="MapSection">
        <div class="InfoContainer">
          <h2>Explore Kansai By Prefecture</h2>
          <p class="MapIntroductionText">The Kansai region is traditionally made up of six prefectures: Osaka, Kyoto, Hyogo, Nara, Shiga, and Wakayama. Sometimes, Mie Prefecture is also included due to its cultural and geographical ties to Kansai. However, Mie is often classified as part of the Tokai region, which is why it isn't always counted among Kansai's core areas</p>
          <p style="font-weight: 600;">Click on a Prefecture to know more:</p>
          <div class="InfoBox">
          </div>
        </div>
    </section>

    <section class="DarkSection">
      <div class="DarkBackground"></div>
      <div class="PictureSection">
        <div class="PictureSectionHeader">
          <div class="Header-Text">
            <h2>Getting Around Kansai</h2>
            <p class="introductionText">From ultra-fast bullet trains to budget-friendly highway buses, convenient domestic flights, taxis, and rental cars, getting around Kansai is easy, efficient, and well-connected. Whether you're zipping between Osaka and Kyoto on the iconic Shinkansen, navigating local spots via JR lines and buses, or enjoying the flexibility of car travel through scenic countryside roads, the Kansai region offers smooth and versatile travel options for every kind of journey</p>
          </div>
        </div>
        <div class="PictureRow">
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Train/Train" id="JRWT" class="MainPagePicRowBox"> <!-- Ska vara Train/Jrwest, när sidan finns -->
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  JR West
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Bus/Bus" id="HB" class="MainPagePicRowBox"> <!-- Ska vara Bus/Highway-bus, när sidan finns -->
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  Highway Bus
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Airplane/Airplane" id="Airplane" class="MainPagePicRowBox">
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  Airplane
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Car/Car" id="Car" class="MainPagePicRowBox">
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  Car
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Taxi/Taxi" id="Taxi" class="MainPagePicRowBox">
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  Taxi
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="LightSection">
      <div style="padding: 50px 0 50px 0">
        <div class="Box2">
          <div class="GTKsideText">
            <h2>Before You Travel & While You're Here</h2>
            <p>Whether it's your first time in Japan or if you're a seasoned traveler, it's worth taking a moment to prepare. From how to handle money and cultural etiquette, to safety tips and useful apps — here's a couple of things you'd want to know before you go and while you're here.
            </p>
          </div>
        </div>
        <div class="GoodToKnow">
          <a href="#" class="ExplorePicWrapper">
            <img alt="Currency" src="./img/PicBoxPics/Currency.webp" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Currency</h3>
              <p>How to pay, and why cash is still king in Japan</p>
            </div>
          </a>

          <a href="#" class="ExplorePicWrapper">
            <img alt="Public" src="./img/PicBoxPics/Public.webp" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Behavior</h3>
              <p>Respect the culture, key etiquette tips for visitor</p>
            </div>
          </a>

          <a href="weather#disaster-info" class="ExplorePicWrapper">
            <img alt="Disaster" src="./img/PicBoxPics/Disaster.webp" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Disaster</h3>
              <p>Know what to do when nature acts up</p>
            </div>
          </a>

          <a href="#" class="ExplorePicWrapper">
            <img alt="App" src="./img/PicBoxPics/App.webp" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Apps</h3>
              <p>Good to know apps for your visit in Japan</p>
            </div>
          </a>


        </div>
      </div>
    </section>

    <section class="DarkSection">
      <div class="PictureSection">
        <div class="PictureSectionHeader">
          <div class="Header-Text">
            <h2>Experience Kansai All Year Round</h2>
            <p class="introductionText">Don't know when to go? Kansai offers something all year around. From the cherry blossoms of spring in Kyoto to the colorful leaves of Nara in autumn, every season paints a new picture. Whether you're soaking in summer festivals or enjoying cozy street food in winter, Kansai is always in season</p>
          </div>
        </div>
        <div class="PictureRow">
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#WinterPic" id="Winter" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Winter
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#SpringPic" id="Spring" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Spring
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#SummerPic" id="KyotoGoldenPavilion" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Summer
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#AutumnPic" id="Autumn" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Autumn
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>