<link rel="stylesheet" href="./css/MainPage.css">
<script type="module" src="./js/MainPage.js"></script>
<link rel="preload" as="image" href="./img/Main/Main1.jpg">
<%- include('../Navigation/GlobalNav') %>
  <img src="./img/Main/Main1.jpg" alt="Kyoto" id="bild" class="rotation">


  <section id="LocalNavSection">
    <div id="RestaurantTypes">
      <div class="RestaurantTypeBox"><img src="./img/emblems/Svensk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Italiensk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Thai.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Turkisk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Japansk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Indisk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Amerikansk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Kinesisk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Grekisk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Mexikansk.png" alt=""></div>
      <div class="RestaurantTypeBox"><img src="./img/emblems/Vietnamesisk.png" alt=""></div>
    </div>
  </section>
  <section id="MainPageSection" class="SectionStyle">

    <section class="LightSection">
      <div class="DarkBackground"></div>
      <div class="PictureSection">
        <div class="PictureSectionHeader">
          <div class="Header-Text">
            <h2>Getting Around Kansai</h2>
            <p class="introductionText">From ultra-fast bullet trains to budget-friendly highway buses, convenient domestic flights, taxis, and rental cars, getting around Kansai is easy, efficient, and well-connected. Whether you're zipping between Osaka and Kyoto on the iconic Shinkansen, navigating local spots via JR lines and buses, or enjoying the flexibility of car travel through scenic countryside roads, the Kansai region offers smooth and versatile travel options for every kind of journey</p>
          </div>
        </div>
        <div class="PictureRow">
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Train/Train" id="" class="MainPagePicRowBox"> <!-- Ska vara Train/Jrwest, när sidan finns -->
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  JR West
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Bus/Bus" id="" class="MainPagePicRowBox"> <!-- Ska vara Bus/Highway-bus, när sidan finns -->
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  Highway Bus
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Airplane/Airplane" id="" class="MainPagePicRowBox">
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  Airplane
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="./Transportation?view=Car/Car" id="" class="MainPagePicRowBox">
              <div class="transport-category">
                <strong>TRANSPORTATION</strong><br>
                <span class="banner-title">
                  Car
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="LightSection">
      <div style="padding: 50px 0 50px 0">
        <div class="Box2">
          <div class="GTKsideText">
            <h2>Before You Travel & While You're Here</h2>
            <p>Whether it's your first time in Japan or if you're a seasoned traveler, it's worth taking a moment to prepare. From how to handle money and cultural etiquette, to safety tips and useful apps — here's a couple of things you'd want to know before you go and while you're here.
            </p>
          </div>
        </div>
        <div class="GoodToKnow">
          <a href="#" class="ExplorePicWrapper">
            <img alt="Currency" src="" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Currency</h3>
              <p>How to pay, and why cash is still king in Japan</p>
            </div>
          </a>

          <a href="#" class="ExplorePicWrapper">
            <img alt="Public" src="" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Behavior</h3>
              <p>Respect the culture, key etiquette tips for visitor</p>
            </div>
          </a>

          <a href="weather#disaster-info" class="ExplorePicWrapper">
            <img alt="Disaster" src="" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Disaster</h3>
              <p>Know what to do when nature acts up</p>
            </div>
          </a>

          <a href="#" class="ExplorePicWrapper">
            <img alt="App" src="" width="100px" height="100px">
            <div class="ExplorePicRowPicBoxText">
              <h3>Apps</h3>
              <p>Good to know apps for your visit in Japan</p>
            </div>
          </a>


        </div>
      </div>
    </section>

    <section class="DarkSection">
      <div class="PictureSection">
        <div class="PictureSectionHeader">
          <div class="Header-Text">
            <h2>Experience Kansai All Year Round</h2>
            <p class="introductionText">Don't know when to go? Kansai offers something all year around. From the cherry blossoms of spring in Kyoto to the colorful leaves of Nara in autumn, every season paints a new picture. Whether you're soaking in summer festivals or enjoying cozy street food in winter, Kansai is always in season</p>
          </div>
        </div>
        <div class="PictureRow">
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#WinterPic" id="" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Winter
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#SpringPic" id="" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Spring
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#SummerPic" id="" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Summer
                </span>
              </div>
            </a>
          </div>
          <div class="PicWrapperWithBanner">
            <a href="WhenToVisit#AutumnPic" id="" class="MainPagePicRowBox">
              <div class="season-category">
                <strong>SEASON</strong><br>
                <span class="banner-title">
                  Autumn
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>